<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chandruscm.minirto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/splash_theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chandruscm.minirto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_theme"/>
        <activity
            android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_theme"/>
        <activity
            android:name=".Activities.LicenseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_theme">
        </activity>
        <activity
            android:name=".Activities.FetchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/main_theme">
        </activity>
    </application>

</manifest>